.vcs-popover .layer-wrapper {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}

.vcs-popover .analyze--gauge {
  overflow: visible;
  padding: 0 2rem;
}

.vcs-popover .analyze--gauge caption {
  margin-top: 0;
}
