.analyze--gauge {
  width: calc(100% - 6rem);
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.analyze--gauge .analyze-data {
  font-size: 0.8rem;
}
.analyze--gauge caption {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0.5rem 0;
}
.analyze--gauge table, .analyze--gauge thead, .analyze--gauge tbody, .analyze--gauge tr, .analyze--gauge th, .analyze--gauge td {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.analyze--gauge thead, .analyze--gauge thead tr, .analyze--gauge tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.analyze--gauge thead th {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}
.analyze--gauge thead th.analyze-start {
  text-align: left;
}
.analyze--gauge thead th.analyze-mid {
  text-align: center;
}
.analyze--gauge thead th.analyze-end {
  text-align: right;
}
.analyze--gauge tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  position: relative;
  background-image: linear-gradient(90deg, #ddd 2px, transparent 2px);
  background-size: calc(25% - 0.5px) 100%;
}
.analyze--gauge tbody tr th.analyze-range-label {
  position: absolute;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  white-space: nowrap;
}
.analyze--gauge tbody tr th.analyze-start {
  right: 100%;
  text-align: right;
  margin-right: 1rem;
}
.analyze--gauge tbody tr th.analyze-end {
  left: 100%;
  text-align: left;
  margin-left: 1rem;
}
.analyze--gauge tbody tr td {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.analyze--gauge tbody tr td::before {
  content: "";
  position: absolute;
  left: calc(var(--value, 0) * 100%);
  top: 50%;
  width: 4px;
  height: 30px;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.analyze--gauge tbody tr td .analyze-data {
  position: absolute;
  left: calc(var(--value, 0) * 100%);
  top: 1rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: bold;
  color: #000;
}